/* Estilo base para todos los botones */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 30px;           /* Altura mínima corregida */
  padding: 0 15px;
  border: 1px solid transparent;
  border-radius: 9999px;
  cursor: pointer;
  font-family: inherit;
  font-weight: 600;
  transition: all 0.3s ease;
  outline: none;
  text-decoration: none;
}

/* --- Variante Primaria (fondo claro) --- */
.btn--primary {
  background-color: rgba(255, 255, 255, 0.9); /* Fondo oscuro semitransparente */
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}

.btn--primary:hover {
  background-color: rgba(255, 255, 255, 1); /* Fondo oscuro semitransparente */
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  transform: translateY(-2px);
  }

/* --- Variante Secundaria (contorno) --- */
.btn--secondary {
  background-color: rgba(17, 24, 39, 0); /* Fondo oscuro semitransparente */
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}

.btn--secondary:hover {
  background-color: rgba(17, 24, 39, 1); /* Fondo oscuro semitransparente */
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  transform: translateY(-2px);
}
