.main-content {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Estilos base para todas las secciones */
.main-content > section {
  width: 100%;
  min-height: 100vh;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 20px 60px; /* Espacio para header y footer */
  box-sizing: border-box;
}