.header {
  display: flex; /* <-- CAMBIO: Usar Flexbox */
  justify-content: space-between; /* <-- CAMBIO: Distribuir espacio */
  align-items: center;
  padding: 1.5rem 2rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box; /* <-- AÑADIDO: Para evitar problemas con el padding */
  z-index: 20;
  background-color: rgba(17, 24, 39, 0.2); /* Fondo oscuro semitransparente */
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}



.logo {
  font-weight: 700;
  text-decoration: none;
}


.navList {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 2.5rem;
}

.navLink {
  text-decoration: none;
  transition: color 0.3s ease;
}

.navLink:hover {
  color: #ffffff;
}

/* --- Sección Derecha: Acciones --- */
.header__actions {
  /* justify-self: end; <-- ELIMINADO: No se usa en Flexbox */
  display: flex;
  gap: 1rem;
}
