html {
  scroll-behavior: smooth;
}

:root {
  /* Colores Base */
  --color-primary: #8a2be2; /* Un morado vibrante */
  --color-secondary: #ff69b4; /* Un rosa intenso */
  --color-accent: #00f5d4; /* Un verde menta brillante */
  
  /* Fondos */
  --color-background: #0d1117; /* Un fondo oscuro, casi negro, inspirado en GitHub */
  --color-surface: #161b22; /* Una superficie ligeramente más clara */

  /* Texto */
  --color-text-primary: #e6edf3;
  --color-text-secondary: #8b949e;

  /* Bordes y Sombras */
  --border-radius-sm: 8px;
  --border-radius-md: 12px;
  --border-radius-lg: 16px;
  --shadow-sm: 0 2px 4px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 4px 10px rgba(0, 0, 0, 0.2);
  --shadow-lg: 0 10px 25px rgba(0, 0, 0, 0.3);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: transparent; /* CAMBIADO: Ahora es transparente para ver el video */
  color: var(--color-text-primary);
  
  /* Ya no necesitas padding-bottom porque el Footer es fixed */
  padding-bottom: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Asegura que el root también sea transparente */
#root {
  background-color: transparent;
  min-height: 100vh;
}